body {
    font-family: "Segoe UI", sans-serif;
    background-color: #f0f8ff; 
    color: #333;
    padding: 20px;
    margin: 0 auto;
    max-width: 700px;
}
header {
    text-align: center;
    color: white;
    background-color: #005a9c;
    margin:auto;
    padding: 15px;
    max-width: 700px;
}
article{
    background-color: #e0f7fa;
    border-radius: 8px;
}
div {
    background-color: white;
}
.bienvenida {
    display: none;
}

.tareas {
    display: none;
}
label {
    display: block;
    font-weight: 600;
    margin-top: 10px;
}

input[type="text"] {
    display: block;
    margin: 5px;
}

footer {
    background-color: white;
    padding: 10px;
    text-align: center;
    color: #555;
}