body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color:lightyellow;
  }
  
  header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .catalogo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .vehiculo {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    text-align: center;
    background-color: #f9f9f9;
    transition: transform 0.3s;
  }
  
  .vehiculo:hover {
    transform: scale(1.03);
  }
  
  .vehiculo img {
    max-width: 200px;
    object-fit: cover;
    height: auto;
    margin-bottom: 10px;
  }
  
  .vehiculo a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #2c7;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .vehiculo a:hover {
    background-color: #1a5;
  }
  