 header h1  {
    text-align: center;
    background-color: black;
    color: white;

}

body{
    margin: 0;
    padding: 0;
    font-family:"Segoe UI", sans-serif;
    background-color: rgb(224, 130, 6);
}

.div_tabla{
    width: 100%;
    overflow-x: auto;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
	border: 2px black solid;
}

td {
    border: 2px black solid;
}
img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
}


