body {
	background-color: lightyellow;
}
h1 {
	text-align: center;
	background-color: black;
	color: white;
}

h2 {
	text-align: left;
	font-family: Verdana;
	background-color: red;
}
p {
	font-family: Arial;
	font-size: 12px;
}
