body {
	background-color: lightyellow;
}
h1 {
	text-align: center;
	background-color: black;
	color: white;
	text-shadow: 4px 4px 10px #000000;
}

h2 {
	text-align: left;
	font-family: Verdana;
	background-color: red;
}
p {
	font-family: "Garamond", "Vivaldi", serif;
	font-size: 10px;
	letter-spacing: 3px;
	background-color: green;
	color: white;
	
}
