body {
    font-family: "Segoe UI", sans-serif;
    background: #f0f8ff; 
    color: #333;
    padding: 20px;
}

header {
    text-align: center;
    color: white;
    background-color: #005a9c;
    margin:auto;
    padding: 15px;
    max-width: 500px;
}

div {
    max-width: 500px;
    text-align: center;
    margin: auto;
    padding: 15px;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

button {
    background-color: #007acc;
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 5px 2px;
}

button:hover {
    background-color: #005fa3;
}



label {
    font-weight: 600;
    margin-top: 10px;
}

label{
    display: block;
    margin: 5px;
}

.div_comienzo {
    text-align: center;
}

.div_longitud {
    display: none;
}

.div_juego {
    display: none;
}

.div_resultado {
    display: none;
}