body {
    font-family:'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    place-items: center;
    background-color:  #e2e7ec;
    margin: 0;
}

header {
    background-color: #2a2abb;
    width: 300px;
    height: auto;
    padding: 10px 0;
}

.juego {
    width: 276px;
    padding: 12px;
    background-color: white;
    margin: 0 auto;
    overflow: hidden;
}

.juego .cuadro {
    width: 90px;
    height: 90px;
    display: grid;
    border: 1px solid black;
    place-items: center;
    float: right;
}


#resultado {
    padding: relative;
    top: 10px;
}
