* {
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

header h1 {
    margin-bottom: 30px;
    color: #333;
}

form {
    background-color: #b3c6ff;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
}

label {
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    color: #000080;
}

input[type="submit"] {
    text-align: center;
}
