label {
    display: block;
    margin: 10px 0;
}

table{
    border: 1px solid black; 
    border-collapse: collapse; 
    padding: 5px;
}

th {
    background-color: #ddd;
    padding: 5px;
    border: 1px solid black;
}
td{
    padding: 5px;
    border: 1px solid black;
}