body {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
}

h1 {
    font-size: 37px;
    font-weight: bold;
}

.subtitulo {
    font-size: 20px;
}

.rojo {
    color: red;
}

.azul {
    background-color: blue;
}

.ulrojo {
    background-color: red;
}

.verde {
    background-color: green;
}